<md-dialog aria-label="Add User">
    <form name="addForm" ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Add User</h2>
                <span flex></span>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <div class="row">
                    <md-input-container class="md-block col-md-6" flex-gt-sm>
                        <label>Full Name *</label>
                        <input type="text" name="fullName" ng-model="info.userFullName" required>
                        <div ng-messages="addForm.fullName.$error">
                            <div ng-message="required">
                                Full name is required!
                            </div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block col-md-6" flex-gt-sm>
                        <label>Email *</label>
                        <input type="email" name="email" ng-model="info.userEmail" required>
                        <div ng-messages="addForm.email.$error">
                            <div ng-message="required">
                                Email is required!
                            </div>
                            <div ng-message="email">
                                Enter a valid email address!
                            </div>
                        </div>
                    </md-input-container>
                </div>
                <div class="row">
                    <md-input-container class="md-block col-md-6" flex-gt-sm>
                        <label>Password *</label>
                        <input type="password" name="password" ng-model="info.userPassword" required>
                        <div ng-messages="addForm.password.$error">
                            <div ng-message="required">
                                Password is required!
                            </div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block col-md-6" flex-gt-sm>
                        <label>Confirm Password * </label>
                        <input type="password" name="confirmPassword" ng-model="info.userConfirmPassword" ng-blur=" validatePassword(info)" required>
                        <div ng-messages="addForm.confirmPassword.$error">
                            <div ng-message="required">
                                Password Confirmation is required!
                            </div>
                            <div ng-message="compareTo">
                                Password Confirmation does not match!
                            </div>
                        </div>
                    </md-input-container>
                </div>

                <md-input-container class="md-block" flex-gt-sm>
                    <label>Address</label>
                    <input type="text" name="address" ng-model="info.userAddress">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Mobile</label>
                    <input type="text" name="mobile" ng-model="info.userMobile" pattern="\d*">
                    <div ng-messages="addForm.mobile.$error">
                        <div ng-message="pattern">
                            Mobile number must contain digits only!
                        </div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <md-checkbox ng-model="info.userIsCustomer" aria-label="Is {{customerName}} user?" ng-init="info.userIsCustomer=false">
                        {{customerName}} user
                    </md-checkbox>
                </md-input-container>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button type="submit" ng-click="insertRecord(info)">
                Add
            </md-button>
            <md-button ng-click="cancel()">
                Cancel
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>