<md-dialog aria-label="Add Region">
    <form name="addRegionForm" ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Add Region</h2>
                <span flex></span>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Region Name</label>
                    <input type="text" name="regionName" ng-model="regionInfo.regionName" required>
                    <div ng-messages="addRegionForm.regionName.$error">
                        <div ng-message="required">
                            Region name is required!
                        </div>
                    </div>
            </md-input-container>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button type="submit" ng-click="insertRegion(regionInfo)">
                Add
            </md-button>
            <md-button ng-click="cancel()">
                Cancel
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>