<md-dialog aria-label="Edit Region">
    <form ng-cloak>
        <md-dialog-content>
            <div class="md-dialog-content">
                <md-input-container class="md-block" flex-gt-xs>
                    <label>Region ID</label>
                    <input id="id" ng-model="currentRecord.regionId" disabled>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Region Name</label>
                    <input id="Name" ng-model="currentRecord.regionName">
                </md-input-container>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button ng-click="updateRecord(currentRecord)">
                Update
            </md-button>
            <md-button ng-click="cancel()">
                Cancel
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>


