<!-- Form used to add new entries of employee in database -->
<form class="form-horizontal alert alert-warning" name="regionList" id="addRegionForm" ng-submit="insertInfo(regionInfo);" hidden>
    <h3 class="text-center">Insert Region Details Into Database</h3>
    <div class="form-group">
        <label for="regionName">Region Name:</label>
        <input type="text" name="regionName" class="form-control" placeholder="Enter region name" ng-model="regionInfo.regionName" value="" autofocus required />
    </div>
    <div class="form-group">
        <p class="text-danger" ng-show="regionList.regionName.$invalid && regionList.regionName.$dirty">Name field is Empty!</p>
    </div>

    <div class="form-group">
        <button class="btn btn-warning" ng-disabled="regionList.$invalid">Add Into Database</button>
    </div>
</form>